.FlexContainer{
    display: flex;
}
.FlexCenter{
    align-items: center;
    justify-content: center;
}
.FlexCenterFtop{
    align-items: center;
}
.FlexCenterFleft{
    align-items: center;
}
.FlexLeft{
    justify-content: left;
    align-items: center;
}
.FlexRight{
    justify-content: right;
    align-items: center;
}
.FlexEven{
    justify-content: space-evenly;
    align-items: center;
}
.FlexCol{
    flex-direction: column;
}


button, input{
    min-height: 40px;
}