@import './base.css';
@import './Textstyle.css';
@import './containerStyle.css';

#app {
  width: 100vw;
  max-width: 1280px;
  margin: 0 auto;
  height: 100dvh;
  padding: 0;

  font-weight: normal;
  background-color: #dddddd;
  display: grid;
  grid-template-columns: repeat(17, minmax(auto, 1fr));
  grid-template-rows: repeat(17, minmax(auto, 1fr));
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

